<div class="container">
	<div class="row heading">
		<span class="header">All Authors</span>
		<%= link_to "Add Author", new_author_path, class: "btn btn-default right-btn" %>
	</div>

	<div class="row">
	<% @authors.each do |author| %>
		<div class="col-sm-3 col-xs-6">
			<div class="author well">
				<div>
					<img src="<%= author.image %>" alt="Portrait of <%= author.full_name %>" class="author-photo">
				</div>
				<strong><%= author.full_name %></strong><br>
				<%= author.books.length %> Book	
			</div>
		</div>
	<% end %>
	</div>
	
</div>


