<div class="container">
	<div class="col-xs-6 col-xs-offset-3">
		<h2>Add An Author to The Library</h2>
		<%= form_for @author do |f| %>
			<div class="form-group">
				<%= f.label :first_name, "First Name" %>
			  <%= f.text_field :first_name, required: true, placeholder: "F. Scott", class: "form-control" %>
			</div>
			<div class="form-group">
			  <%= f.label :last_name, "Last Name" %>
			  <%= f.text_field :last_name, required: true, placeholder: "Fitzgerald", class: "form-control" %>
			</div>
			<div class="form-group">
			  <span class="form-inline-left">
				  <%= f.label :year_born, "Year of Birth" %>
				  <%= f.number_field :year_born, required: true, placeholder: "YYYY", class: "form-control" %>
			  </span>
			  <span class="form-inline-right">
				  <%= f.label :year_born, "Year of Death" %>
				  <%= f.number_field :year_died, placeholder: "YYYY (Leave blank if still alive)", class: "form-control" %>
			  </span>
			</div>
			<div class="form-group">
			  <%= f.label :bio, "Biography" %>
			  <%= f.text_area :bio, placeholder: "Include a short biography of the author", size: "10x3", class: "form-control" %>
			</div>
			<div class="form-group">
			  <%= f.label :image, "Image" %>
			  <%= f.text_field :image, placeholder: "http://example-image.jpg", class: "form-control" %>
			</div>
		  <%= f.submit "Save Author", class: "btn btn-default submit-btn" %>
		<% end %>
	</div>
</div>