<div class="container">
	<div class="row heading">
		<span class="header">All Books</span>
	</div>

	<div class="row">  
	<% @books.order("title asc").each do |book| %>
		<div class="col-sm-3 col-xs-6">
			<div class="book well">
				<div>
					<img src="<%= book.image %>" alt="Cover image of <%= book.title %>" class="book-photo">
				</div>
				<div class="book-title">
					<strong><%= link_to "#{book.title}", book_path(book) %></strong><br>	
				</div>
				by 
				<%= link_to "#{book.author.full_name}", author_path(book.author) %>
				<div>
					<p>Originally Published: <%= book.release_year %></p>
				</div>
			</div>
		</div>
	<% end %>
	</div>

</div>